box-sizing: border-box;
}

.row {
display: flex;
}

.column {
flex: 33.33%;
padding: 5px;
}



body{
    background-color: lavenderblush;
}

h1{
color:rgb(209, 133, 144);color:rgb(209, 133, 144);
text-decoration: underline;
}