body{ 
    background-color: lavenderblush; 
}



H1 { text-align: center; 
    
    color:red;
    
}

P{ text-align: center; 
    color: black;
    p.small {
        line-height: 0.8;
      }
}

H2 { text-align: center; 
    color:rgb(0, 37, 150);
    text-decoration: underline;
}

